<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center">
    <h2>Product List</h2>
  </div>
    <table class="table table-bordered table-striped mt-3">
        <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Category ID</th>
            <th>Category</th>
            <th>Price</th>
            <th>Active</th>
            <th>Created By</th>
            <th>Last Updated By</th>
            <th>Created At</th>
            <th>Last Updated At</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let product of products">
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.categoryId }}</td>
                <td>{{ product.categoryDisplayName }}</td>
                <td>{{ product.price | currency:'USD':'symbol':'1.2-2' }}</td>
                <td>{{ product.active }}</td>
                <td>{{ product.createdBy }}</td>
                <td>{{ product.lastUpdatedBy }}</td>
                <td>{{ product.createdAt | date:'short' }}</td>
                <td>{{ product.lastUpdatedAt | date:'short' }}</td>
            </tr>
        </ng-container>
        </tbody>
    </table>
</div>
